@charset "utf-8";

/** {
  box-sizing: border-box;
}*/

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 8px 5px rgba(255, 69, 0, 0.8);
}

.App {
  height: calc(100vh - 21px);
  text-align: center;
}

h1 {
  height: 35px;
}

#content {
  width: 100%;
  height: calc(100vh - 77px);
}

#map {
  /*max-width: 60%;*/
}

#list {
  width: 25%;
  height: inherit;
  background-color: lightgrey;
  z-index: 1;
  position: absolute;
  overflow: scroll;
}

#list ul {
  list-style: none;
  text-align: left;
}

#list ul li {
  margin: 20px 0;
}

#list ul li p {
  margin: 0;
}

/*#content {
  display: flex;
  flex: row wrap;
}*/